$body-font: "Poppins", sans-serif;
$body-color: #f4f4f6;

$big-font-size: 1.7rem;
$normal-font-size: 1rem;
$small-font-size: 0.75rem;

$border-color: #ced4da;
$border-focus-color: #6c757d;

$transition: all 0.3s;
$radius: 0.3rem;

$default-color: #222222;
$default-hover-color: #0a0a0a;
$white-color: #fbfbfb;
